<!--
  Generated template for the InicioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons end>
      <button ion-button navPush="AddEssenciaPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- Marcas -->
  <ion-list>
      <ion-list-header>
          Por Marcas
        </ion-list-header>
    <ion-item *ngFor="let marca of marcaLista$ | async" detail-push navPush="MarcasListaPage" [navParams]="{marca : marca}">
      <ion-label>{{marca.Marcae}}</ion-label>
      <!-- <ion-toggle [(ngModel)]="essencia.checked" (ionChange)="saveEssencia(essencia)"></ion-toggle> -->
    </ion-item>

    <button block ion-button bloack clear navPush="EssenciaListPage" [navParams]="{essencia: essencia}">Lista</button>
  </ion-list>

  <!-- Lista Com Todas Essencias Do Banco De Dados -->
  

  <!-- Essencias Favoritas -->

  <ion-list>
    <ion-list-header>
      Essências Marcadas Como Favorito
    </ion-list-header>
    <ion-scroll scrollY="true" style="height:100vh;">
    <div *ngFor="let essencia of essenciaLista$ | async">
      <ion-item *ngIf="essencia.checked ===true" detail-push navPush="DetalhesEssenciaPage" [navParams]="{essencia: essencia}">
        <ion-label>{{essencia.Nome}}</ion-label>
        <!-- <ion-toggle [(ngModel)]="essencia.checked" (ionChange)="saveEssencia(essencia)"></ion-toggle> -->
      </ion-item>
    </div>
    </ion-scroll>
  </ion-list>

  <ion-fab right bottom #fab2>
      <button ion-fab color="light"><ion-icon name="arrow-dropleft"></ion-icon></button>
      <ion-fab-list side="left">
        <button ion-fab navPush="AddEssenciaPage"><ion-icon name="add"></ion-icon></button>
      </ion-fab-list>
    </ion-fab>

  

</ion-content>